*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
Stock[[:space:]]to[[:space:]]Ship.zip filter=lfs diff=lfs merge=lfs -text
Stock[[:space:]]to[[:space:]]Ship[[:space:]]All.zip filter=lfs diff=lfs merge=lfs -text
